@import url('./logo.scss');
@import url('./search-box.scss');

// basic style for nav
header{
  display: flex;
  flex-wrap: wrap;
  #logo{
    margin-left: 1.25rem;
  }
  #search-box{
    flex-grow: 1;
    form{
      max-width: 50vw;
    }
  }
}

// basic style for nav
header nav{
  position: relative;
  width: 100vw;
  background-color: var(--background-color-gray);
  section{
    margin-left: -1.25rem;
    padding: 0.5rem 0;
    box-sizing: border-box;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  li{
    display: inline-block;
    margin: 0;
    padding: 0.5rem 1rem;
  }
  a{
    font-size: 1rem;
    padding: 0.2rem 0;
    border-bottom: 2px solid transparent;
    &.active{
      border-bottom-color: var(--link-active-color);
    }
  }
  .loading-text{
    opacity: 0.5;
  }
  // collapse/expand icon
  label{
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    font-size: 0.6rem;
    padding: 0 0.3rem;
    line-height: 1.2;
    input{
      pointer-events: none;
      position: absolute;
      opacity: 0;
      visibility: hidden;
    }
    span + span{
      display: none;
    }
    i{ // icon
      font-size: 1rem;
      font-family: monospace;
      margin-left: 0.2rem;
      display: inline-block;
      transform: rotate(180deg);
      transition: transform 0.3s ease;
    }
  }
}

// handle collapse/expand effect for nav
header nav{
  section{
    max-height: 3.5rem;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
}
// when nav is expanded
header nav:has(input:checked){
  section{
    max-height: 100vh;
  }
  label{
    span:first-of-type{
      display: none;
    }
    span + span{
      display: inline;
    }
    i{
      transform: rotate(0deg);
    }
  }
}
